/* variables */
:root {
    --primary: #2E291E;
    --secondary: #6BBF44;
    --bgcolor: #DFDCCF;
    --menu-height: 50px;
    --menu-width: 50px;
}

/* base styles */
:root {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--bgcolor);
    overflow-x: hidden;
    font-family: 'Nunito Regular', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary);
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Press Start 2P', cursive;
}

b,
strong {
    font-family: 'Nunito Bold', sans-serif;
}

i,
em {
    font-family: 'Nunito Italic', sans-serif;
}

/* fonts */
@font-face {
    font-family: 'Press Start 2P';
    src: url(../assets/fonts/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: 'Nunito Regular';
    src: url(../assets/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'Nunito Bold';
    src: url(../assets/fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: 'Nunito Italic';
    src: url(../assets/fonts/Nunito-Italic.ttf);
}

/* mobyle styles */
/* header */
.site-header {
    background-color: var(--primary);
    color: var(--bgcolor);
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo-wrap {
    min-width: 40px;
    max-width: 55px;
}

.site-title {
    text-align: center;
    margin: 0;
}

nav {
    position: absolute;
    top: 86px;
    left: 0;
    background-color: var(--primary);
    font-family: 'Nunito Bold', sans-serif;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    width: 100vw;
}

.nav-open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    z-index: 1000;
}

nav ul li {
    text-align: center;
    padding: 1% 0;
}

nav ul li:hover {
    background-color: var(--bgcolor);
    color: var(--primary);
}

nav ul li:hover a {
    color: var(--primary);
}

nav ul li a {
    display: block;
}

.menu-button {
    min-width: var(--menu-width);
    min-height: var(--menu-height);
    background-color: var(--bgcolor);
    position: relative;
    cursor: pointer;
    transition: box-shadow .1s ease-in;
}

.pixel {
    background-color: var(--secondary);
    height: calc(var(--menu-height) / 9);
    width: calc(var(--menu-width) / 9);
    position: absolute;
    transition: all .5s ease-in;
}

.active {
    -webkit-box-shadow: 0px 0px 1px 2px rgba(46, 41, 30, .7) inset;
    -moz-box-shadow: 0px 0px 1px 2px rgba(46, 41, 30, .7) inset;
    box-shadow: 0px 0px 1px 2px rgba(46, 41, 30, .7) inset;
}

.pixel-1,
.pixel-2,
.pixel-3 {
    top: calc((var(--menu-width) / 9) * 2);
}

.pixel-4,
.pixel-5,
.pixel-6 {
    top: calc((var(--menu-width) / 9) * 4);
}

.pixel-7,
.pixel-8,
.pixel-9 {
    top: calc((var(--menu-width) / 9) * 6);
}

.pixel-1,
.pixel-4,
.pixel-7 {
    left: calc((var(--menu-height) / 9) * 2);
}

.pixel-2,
.pixel-5,
.pixel-8 {
    left: calc((var(--menu-height) / 9) * 4);
}

.pixel-3,
.pixel-6,
.pixel-9 {
    left: calc((var(--menu-height) / 9) * 6);
}

.active .pixel-2 {
    top: calc((var(--menu-width) / 9) * 3);
    left: calc((var(--menu-height) / 9) * 5);
}

.active .pixel-6 {
    top: calc((var(--menu-width) / 9) * 5);
    left: calc((var(--menu-height) / 9) * 5);
}

.active .pixel-8 {
    top: calc((var(--menu-width) / 9) * 5);
    left: calc((var(--menu-height) / 9) * 3);
}

.active .pixel-4 {
    top: calc((var(--menu-width) / 9) * 3);
    left: calc((var(--menu-height) / 9) * 3);
}

/* Main styles */
main {
    flex-grow: 1;
}

.post {
    margin: 10px 10px 30px 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 4px 5px 1px rgba(46, 41, 30, 0.2);
    -moz-box-shadow: 0px 4px 5px 1px rgba(46, 41, 30, 0.2);
    box-shadow: 0px 4px 5px 1px rgba(46, 41, 30, 0.2);
}

.post-date {
    font-size: 0.9em;
}

.post-title {
    margin: 5px 0;
}

.post-category .post-link {
    font-family: 'Nunito Bold', sans-serif;
}

/* Footer styles */
.site-footer {
    padding: 10px;
}

/* Post page */
.post-page .post {
    box-shadow: none;
}

.post-page .post-header {
    margin-bottom: 15px;
}

.like-btn {
    cursor: pointer;
}

.back-btn {
    display: block;
    margin: 15px 0;
}

.author {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 45px;
    padding: 10px;
    border: 1px solid var(--primary);
}

.author-avatar {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 80%;
    align-self: center;
}

.author-nickname {
    grid-column: 2/3;
    grid-row: 1;
    align-self: end;
}

.social-links {
    grid-column: 2/3;
    grid-row: 2;
    align-self: center;
}

.author-status {
    grid-column: 2/3;
    grid-row: 3;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
    .container {
        margin: 0 auto;
        width: 90%;
    }

    .header-top {
        justify-content: center;
        flex-wrap: wrap;
    }

    .site-title {
        margin-left: 5%;
    }

    .menu-button {
        display: none;
    }

    nav {
        position: relative;
        visibility: visible;
        opacity: 1;
        transform: translateX(0%);
        top: auto;
        left: auto;
        margin-top: 2%;
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li {
        padding: 1% 1%;
    }

    .post {
        margin: 10px 0 30px 0;
    }

    .post-page .post {
        box-shadow: none;
    }
}

/* large tablets & laptops style */
@media screen and (min-width: 960px) {
    .container {
        width: 65%;
    }

    .content:not(.post-page) .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }

    .content:not(.post-page) .post {
        width: 48%;
        max-height: 360px;
        overflow: hidden;
        position: relative;
    }

    .content:not(.post-page) .post::before {
        display: block;
        content: '';
        width: 100%;
        height: 30px;
        background: rgb(46, 41, 30);
        background: linear-gradient(0deg,var(--bgcolor) 0%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: -30px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
    .container {
        width: 55%;
    }
}